<main>
    <a href="#">home</a>
    <a href="#">about</a>
    <a href="#">contact</a>

    <h1>Welcome to Our Pages</h1>
    <h2>we serve you better here</h2>
    <img src="http://s3-ap-southeast-2.amazonaws.com/wordpress-uploads/site/wp-content/uploads/2018/05/22145607/l.jpg">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum."</p>
<h3> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis 
    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </h3>
    <ul>
        <li>de Finibus Bonorum et Malorum</li>
        <li>At vero eos et accusamus</li>
        <li>usto odio dignissimos</li>
    </ul>
    <input type="radio">accusantium <br>
    <input type="radio">doloremque <br>
    <input type="radio">laudantium <br>
    <input type="radio" name="#">totam <br>
    <input type="text" placeholder="what are you looking?">
    <button type="submit">search</button>
    </main>
