<ol>
    <font color="red"><li>g</li></font>
    <font color="blue"><li>l</li></font>
    <font color="pink"><li>i</li></font>
    <font color="purple"><li>n</li></font>
    <font color="yellow"><li>t</li></font>
    <font color="grey"><li>s</li></font>
    <font color="black"><li>a</li></font>
    <font color="red"><li>c</li></font>
    <font color="purple"><li>a</li></font>
    <font color="grey"><li>d</li></font>
    <font color="pink"><li>e</li></font>
    <font color="yellow"><li>m</li></font>
    <font color="red"><li>y</li></font>
</ol>