   <p> <b>Rasisme merupakan</b> salah satu isu kemanusiaan tertua, paling sensitif 
    dan paling banyak diperbincangkan di kalangan masyarakat dunia. 
    Terkhusus di tahun 2020, <i>terjadi sebuah fenomena</i> besar yang memicu 
    isu rasisme mencuat lebih tinggi, yakni, <u>kematian George Floyd.</u> </p>
    <u>Semenjak kejadian itu,</u> perhatian dan kepedulian masyarakat dunia 
    terhadap <b>tindakan rasis</b> yang selama ini sering dirasakan oleh 
    orang-orang kulit hitam, terutama yang hidup di Amerika Serikat, 
    mulai meningkat, menyebabkan gerakan anti rasisme 
    yang bertemakan <i>‘Black Lives Matter’</i> merebak ke seluruh penjuru dunia.