<a href="google.com"target="_blank">google</a><br>
<a href="yahoo.com"target="_blank">yahoo</a><br>
<a href="wikiedia.com"target="_blank">wikipedia</a><br>
<a href="facebook.com"target="_blank">facebook</a><br>
<a href="youtube.com"target="_blank">youtube</a>