<ol>
    <li>g</li>
    <li>l</li>
    <li>i</li>
    <li>n</li>
    <li>t</li>
    <li>s</li>
    <li>a</li>
    <li>c</li>
    <li>a</li>
    <li>d</li>
    <li>e</li>
    <li>m</li>
    <li>y</li>
</ol>